{% extends 'base.html' %}

{%load static%}
{% block title %} Mision {%endblock%}
{% block content %}


<div class="container"><br>
  <div class="border border-secondary my-4 mt-5">
     <div class="bg-light py-5 px-5 rounded">
        <div class="colortitle">
          <h3 class="section-heading mx-3" >
             <h1 class="fw-bold p-4">Nuestra Misión</h1><br>
          </h3> <br>
        </div>
        <h2 class="card-title text-black py-2">
              Disminuir la cantidad de animales no castrados mediante castraciones masivas y gratuitas. Alcanzar
              una mejora significativa en la calidad de vida de todos los animales de nuestra ciudad, abarcando
              también localidades aledañas.
              Generar una red de adopción por todo nuestro territorio, que permita reducir la gran población de
              animales callejeros.
             </h2>
          </div>
  </div><br>   

{% endblock%}
